<!DOCTYPE html>
<html>

<head>
    <title>All Complaints</title>
</head>

<body>
    <h2>All Complaints</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Department</th>
            <th>Complaint</th>
        </tr>
        {% for row in complaints %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>